<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css?v=123456">
    <link rel="stylesheet" href="/assets/editormd/css/editormd.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    {{template "header"}}
    <div id="test-editor">
    <textarea style="display:none;">
    </textarea>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="/assets/editormd/editormd.min.js"></script>
    <script type="text/javascript">
        $(function() {
            const editor = editormd("test-editor", {
                // width  : "100%",
                 height : 894,
                path: "assets/editormd/lib/"
            });
        });
    </script>
</div>
</body>
</html>